.pie-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 80px;
}

.pie-contenedor {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.pie-arriba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.pie-titulo,
.pie-subtitulo {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pie-input {
    padding: .6rem;
    width: 300px;
}

.pie-boton {
    padding: .6rem;
    color: white;
    background-color: black;
}

.pie-boton:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}

.pie-redes {
    display: flex;
    gap: 10px;
}

.pie-red{
    text-decoration: none;
    color: black;
}

.redes {
    font-size: 2rem;
    cursor: pointer;
}


.pie-abajo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    border-top: 1px solid black;
}

.pie-enlace {
    color: black;
    text-decoration: none;
    border-right: 1px solid black;
    padding-inline: 1rem;
}

.pie-enlace:last-child {
    border-right: none;
    padding-right: 0;
}

.pie-enlace:hover {
    color: gray;
}

.pie-copyright {
    font-weight: 800;
}


@media screen and (width <= 768px) {
    .pie-enlace {
        padding-inline: .5rem;
    }

    .pie-enlaces {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pie-copyright {
        font-size: .8rem;
    }
}